.user-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    /* Temp fix for PronounDB */
    grid-row: 5;
    grid-column: span 2;
}

/* Old style */
.user-details-text { color: var(--text-normal); }

/* Modal */
.user-details-modal { margin-left: 16px; margin-bottom: 12px; }
.nameTag-ECvD8P { margin-bottom: 0px; }
